<!-- views/patials/header.ejs -->
<nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6 navbar navbar-expand-lg">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <canvas id="navicon" width="32" height="32"></canvas>
        <span class="text-2xl font-bold tracking-wide mx-2">Breeze - Weather Forecast</span>
    </div>
</nav>