<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vacation Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset id='fieldForm'>
        <form action="/" method="post">
          <input name="location" type="search" class="ghost-input" id="address-input" placeholder="Enter a City, Country" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
      </fieldset>
        <% if (weatherObject !== null) { %>
          <% weatherObject.forEach((object) => { %>
          <table>
          <% Object.entries(object).forEach(([key, value]) => { %>
              <tr>
                <th><%= key %></th>
                <th><%= value %></th>
              </tr>
              <% }); %>
          </table>
          <% }); %>
        <% } %>
        <% if (error !== null) { %>
              <p><%= error %></p>
            <% } %>
    </div>
  </body>
</html>