<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">Made by <a class="text-blue-500 font-bold text-lg"
    href="https://github.com/jeff-yeung" rel="noopner noreferrer" target="_blank">jeff-yeung</a>
</p>